<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="/js/home/login.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <!-- 네비게이션 바 시작 -->
      <nav id="header">
        <div id="contents-wrapper">
          <a href="./index.html" id="logo">
            <img src="./images/logo.svg" alt="Logo" />
          </a>
          <div id="content-wrapper">
            <div id="content">
              <a href="">입양하기</a>
              <a href="">콘텐츠</a>
              <a href="">쇼핑</a>
              <a href="">커뮤니티</a>
            </div>
            <a href="./login.html" id="login">
              <img src="./images/LOG IN button.svg" />
            </a>
          </div>
        </div>
      </nav>
      <!-- 네비게이션 바 끝 -->]
    </div>
  </body>
</html>
